
#carousel {
  height: 600px;
  width: 100%;
  background-color: #000000;
}

#login-box {
  background-color: white;
  position: absolute;
  top: 30%;
  left: 80%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

#login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
}

.login-button {
  margin: 5% 3% 0 30%;
}

.register-button {
  margin: 5% 0 0 3%;
}
