<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/doctorStyles.css">
    <link rel="shortcut icon" href="../pictures/favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>Profile</title>

</head>
<body>
<div class="container-fluid">
    <img id="logo" src="../pictures/logo.png">
    <span id="title"> COVID-19 Symptom Self-Assessment Center</span>
</div>

<<div class="container-fluid dashboard">
    <div class="row">

        <!--Nav bar-->
        <div class="col-lg-2">
            <nav class="navbar navbar-inverse" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="doctor_patient"> Patients </a>
                    </li>
                    <li>
                        <a href="doctor_profile" style="color: darkgray"> Profile</a>
                    </li>
                    <li>
                        <a href="index"> Log out</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>
</body>
</html>
