<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/doctorStyles.css">
    <link rel="shortcut icon" href="pictures/favicon.ico" type="image/x-icon"/>
    <title>Patients</title>
    <style>
        body {
            background: url("pictures/nurse.png") no-repeat;
            background-size: 100%;

        }

        #logo {
            width: 60px;
            height: 60px;
            margin: 10px;
        }

        #title {
            font-size: 20px;
            color: #122b40;
        }


        .notice {
            display: none;
            position: absolute;
            top: 20%;
            left: 30%;
            width: 35%;
            height: 47%;
            border: 5px solid lightblue;
            background-color: rgba(255,255,255,1);
            z-index:1002;
            overflow: auto;
            font-size: 20px;
        }
    </style>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <img id="logo" src="pictures/logo.png">
    <span id="title"> COVID-19 Symptom Self-Assessment Center</span>
</div>

<div class="container-fluid dashboard">
    <div class="row">

        <!--Nav bar-->
        <div class="col-lg-2">
            <nav class="navbar navbar-inverse" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="doctor_assigned" style="color: darkgray">Assigned Patients</a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="doctor_patient"> Patients </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="doctor_profile">Appointments</a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="index"> Log out</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Table-->
        <div id="container">
            <table id="patient_table" style="text-align: center" border="1px">
                <thead>
                <tr>
                    <th width="120px" style="text-align: center; display: none">User ID</th>
                    <th width="120px" style="text-align: center">Full name</th>
                    <th width="200px" style="text-align: center">Email</th>
                    <th width="300px" style="text-align: center">Address</th>
                    <th width="130px" style="text-align: center">Phone number</th>
                    <th width="110px" style="text-align: center">Date of birth</th>
                    <th width="150px" style="text-align: center">Results</th>
                    <th width="120px" style="text-align: center">Assigned by</th>
                    <th width="100px" style="text-align: center">Appointment</th>
                    <th width="100px" style="text-align: center">Reject</th>
                </tr>
                <tr th:each="patient:${patients}">
                    <td th:text="${patient.userID}" style="display: none">User ID</td>
                    <td th:text="${patient.fullName}">Full Name</td>
                    <td th:text="${patient.email}">Email</td>
                    <td th:text="${patient.address}">Address</td>
                    <td th:text="${patient.phoneNumber}">Phone Number</td>
                    <td th:text="${patient.birthDate}">Birth Date</td>
                    <td><button clsss="btn btn-info" id="result" onclick="openRe(this)">Results</button></td>
                    <td th:text="${patient.reviewer}">Assigned By</td>
                    <td><button clsss="btn btn-success" onclick=" open_notice(this)">Appointment</button></td>
                    <td><a th:href="@{'/rejectPatientByDoctorAssigned/'+${patient.userID}}" >Reject</a></td>
                </tr>
                </thead>
                <tbody id="tb">
                </tbody>
            </table>
        </div>
    </div>

</div>

<div id="notice" class="notice" style="display: none">
    <div style="margin-left: 5%; margin-right: 5%" >
        <br> <br>
        <form th:action="@{doctorAppointment}" method="get">
            <input type="text" id="patientUserID" name="patientUserID" class="form-control" value="patientID" readonly style="display: none">
            <input type="text" id="patientName" name="patient" class="form-control" value="patientID" readonly style="display: none">
            Appointment Time: <input id="apptime" name="appointmentDate" class="form-control" type="date" placeholder="Please appointment information" required><br>
            Note: <input id="note" class="form-control" name="note" placeholder="Please input the address or other information" ><br>
            <button class="btn btn-info" id="submit" type="submit" style="margin-left: 25%"> Submit </button>
            <button class="btn btn-info " id="closeNotice" type="button" style="margin-left: 25%" > Close </button>
        </form>
    </div>
</div>
<!--Functions-->
<script>
    window.onload = function () {
        $("btnAdd").onclick = function () {

            let tr = document.createElement('tr');

            let tdName = document.createElement('td');
            let tdFull_name = document.createElement('td');
            let tdAddress = document.createElement('td');
            let tdBirthday = document.createElement('td');
            let tdPhone = document.createElement('td');
            let tdEmail = document.createElement('td');
            let tdPassword = document.createElement('td');
            let tdregister_status = document.createElement('td');
            let tdDelete = document.createElement('td');

            tdName.innerText = $('name').value;
            tdFull_name.innerText = $('full_name').value;
            tdAddress.innerText = $('address').value;
            tdBirthday.innerText = $('date_of_birth').value;
            tdPhone.innerText = $('phone_number').value;
            tdEmail.innerText = $('email').value;
            tdPassword.innerText = $('password').value;
            tdregister_status.innerText = $('register_status').value;

            let btndelete = document.createElement('input');
            btndelete.classList.add('btn', 'btn-info');
            btndelete.type = 'button';
            btndelete.value = 'delete';
            btndelete.onclick = function () {
                this.parentNode.parentNode.remove();
            }
            tdDelete.appendChild(btndelete);

            tr.appendChild(tdName);
            tr.appendChild(tdFull_name);
            tr.appendChild(tdAddress);
            tr.appendChild(tdBirthday);
            tr.appendChild(tdPhone);
            tr.appendChild(tdEmail);
            tr.appendChild(tdDelete)

            $('tb').appendChild(tr);
        }

        let btnlist = document.querySelectorAll('.delete');
        for (let i = 0; i < btnlist.length; i++) {
            btnlist[i].onclick = function () {
                this.parentNode.parentNode.remove();
            }
        }

    }

    function openRe(obj) {
        $("#myModal").modal('show');
        var $td = $(obj).parent().parent().children();
        var uid = $td.eq(0).text();
        console.log(uid)
        window.open("/getAssessmentResult/" + uid,"_blank");
    }

    $('#closeNotice').click(function(){
        const notice = document.getElementById('notice');
        notice.style.display='none';
    });

    function open_notice(obj){
        $("#myModal").modal('show');
        var $td = $(obj).parent().parent().children();
        var uid = $td.eq(0).text();
        var uName = $td.eq(1).text();
        const notice = document.getElementById('notice');
        notice.style.display='block';
        $("#patientName").val(uName);
        $("#patientUserID").val(uid);
    }

</script>

</body>
</html>