<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/doctorStyles.css">
    <link rel="shortcut icon" href="pictures/favicon.ico" type="image/x-icon"/>
    <title>My profile</title>
    <style>
        body {
            background: url("pictures/nurse.png") no-repeat;
            background-size: 100%;

        }

        #logo {
            width: 60px;
            height: 60px;
            margin: 10px;
        }

        #title {
            font-size: 20px;
            color: #122b40;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <img id="logo" src="pictures/logo.png">
    <span id="title"> COVID-19 Symptom Self-Assessment Center</span>
</div>

<<div class="container-fluid dashboard">
    <div class="row">

        <!--Nav bar-->
        <div class="col-lg-2">
            <nav class="navbar navbar-inverse" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="nurse_patient"> Patients </a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="nurse_profile" style="color: darkgray">Appointments</a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="index"> Log out</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>

</body>
</html>